<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Desafio</mat-card-title>
        <mat-card-subtitle>Microservico</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/arquitetura.png" alt="Imagem HOME"> -->
    <mat-card-content>
        <p>
            O Banco Mundial https://www.worldbank.org/  mantém uma série de indicadores econômicos disponibilizados na web como arquivos para download e APIs.<br/>
            Um desses dados é o indicador que avalia a quantidade de pessoas em situação de extrema pobreza no mundo, vivendo com até $ 1,90/dia (dólar). <br/>
            Este desafio consiste em construir uma aplicação que apresente os indicadores de determinado país (um por vez), ordenados por ano.<br/>
            A aplicação deve permitir que o usuário digite o código do país para em seguida solicitar os índices históricos. Ou seja, quando o usuário entrar no sistema, irá visualizar um formulário, após o preenchimento e submissão desse, será apresentada uma tabela com o resultado obtido da API do Banco Mundial.
        </p>
    </mat-card-content>

</mat-card>
